<app-header pageName="User Manager"></app-header>
<main>
  <form (submit)="onSubmit()" class="form-group" style="max-width: 20em;">
    <label for="email">User Email Address</label>
    <input id="email" type="text" [(ngModel)]="email" class="form-control" name="email" /> 
    <br />
    <button *ngIf="!loading" type="submit" class="btn btn-primary">Get User Information</button>
    <div *ngIf="loading" class="spinner-border" role="status">
      <span #loading class="sr-only">Loading...</span>
    </div>
  </form>
  <div #error *ngIf="error != ''" class="alert alert-warning" role="alert">
    {{error}}
  </div>
  <app-user *ngIf="user != null" [user]="user"></app-user>
</main>
