@media screen and (max-width: 480px) {
    .card {
        width: 92vw;
        margin-bottom: 1vh;
    }
}

@media screen and (min-width: 480px) {
    .card {
        width: 25rem;
        margin: 0.5rem;
    }
}

textarea{
    width: 100%;
}

.spinner-border {
    margin: auto;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}