/* You can add global styles to this file, and also import other style files */
/* import bootstrap css */
@import "../node_modules/bootstrap-css-only/css/bootstrap.css";

main {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}