<h2 #userTitle>{{user.email}}</h2>
<button #UButton *ngIf="user.roles[0] != 'Administrator' && !loading" class="btn btn-primary" (click)="onPromote()">Promote to Administrator</button>
<button #UButton *ngIf="user.roles[0] == 'Administrator' && !loading" class="btn btn-danger" (click)="onDemote()">Demote Administrator</button>
<div *ngIf="loading" class="spinner-border" role="status">
  <span #ULoading class="sr-only">Loading...</span>
</div>
<p #UError *ngIf="error != ''" class="alert alert-warning mt-2" role="alert">{{error}}</p>
